/* Layout */
html {
  font-size: 62.5%;
}

body {
  background: $pageBackground;
  color: #fff;
  font-family: $primaryFont;
  font-size: 1.4rem;
  margin: 0;
}

section {
  padding: 1rem;
}

.page {
  position: relative;
}
