/*--- Variables ---*/

  $primaryFont: 'IBM Plex Sans Condensed', sans-serif;
  $headingFont: 'IBM Plex Sans', sans-serif;

/* Colors */
  $white: #fff;
  $grey: #8e8e8e;
  $lightGrey: #c3c3c3;
  $lightBlue: #5fc1e0;
  $green: #266726;

  $teal: #489398;

  $transparentBlack: rgba(0,0,0,0.3);
  $strongTransparentBlack: rgba(0,0,0,0.4);

/* Page */
  $pageBackground: $green;

/* Emotive */
  $emotive1: #CF322E;
  $emotive2: #F2652F;
  $emotive3: #CCAC2B;
  $emotive4: #7DC228;
  $emotive5: #28B52B;

/* Text Color */
  $lightTextColor: #6d6d6d;

/* Breakpoints */
  $mobileBreakpoint            : 320px;
  $iphoneBreakpoint            : 414px;
  $mobileLandscapeBreakpoint    : 640px;
  $tabletBreakpoint            : 768px;
  $computerBreakpoint          : 992px;
  $largeMonitorBreakpoint      : 1200px;
  $widescreenMonitorBreakpoint : 1920px;

  $largestMobileScreen : ($tabletBreakpoint - 1px);
  $largestTabletScreen : ($computerBreakpoint - 1px);
  $largestSmallMonitor : ($largeMonitorBreakpoint - 1px);
  $largestLargeMonitor : ($widescreenMonitorBreakpoint - 1px);

  /* Forms */
  $borderColor: $lightGrey;
  $borderFocusColor: $lightBlue;
  $labelColor: $lightTextColor;

  /* Buttons */
  $buttonBGColor: $teal;

  /* SVGs */
  $whiteSpinner: "data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='white'><path opacity='.25' d='M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4'/><path d='M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z'><animateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='0.8s' repeatCount='indefinite' /></path></svg>";
